*{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration: none;
}
body{
    background:#1D1D1D;
    /* overflow: hidden; */
}
.chaBox{
    width:50px;
    height:50px;
    position:fixed;
    top:20px;
    right:20px;
}
.chaBox .gang1{
    width:20px;
    height:2px;
    background: white;
    position:absolute;
    top:18px;
    left:15px;
    transition: all 0.3s linear;
}
.chaBox .gang2{
    width:20px;
    height:2px;
    background: white;
    position:absolute;
    top:28px;
    left:15px;
    transition: all 0.3s linear;
}

.zuoBox{
    width:460px;
    height:100%;
    background:#000;
    position:fixed;
    top:0;
    right:-460px;
}
.zuoBox .topBox{
    width:100%;
    height:100px;
    position:relative;
}
.chaBox1{
    width:50px;
    height:50px;
    position:absolute;
    top:20px;
    right:20px;
}
.chaBox1 .gang11{
    width:20px;
    height:2px;
    background: white;
    position:absolute;
    top:25px;
    left:15px;
    transform: rotate(-45deg);
}
.chaBox1 .gang21{
    width:20px;
    height:2px;
    background: white;
    position:absolute;
    top:25px;
    left:15px;
    transform: rotate(45deg);
}
.zuoBox ul{
    width:100%;
    height:400px;
}
.zuoBox ul li{
    width:100%;
    height:20%;
    padding:0 50px 0 66px;
    box-sizing: border-box;
    font-size: 30px;
    line-height:80px;
}
.zuoBox ul li span{
    color:#7b7b7b;
}
.zuoBox ul li:first-child span{
    color:#fff;
}
.zuoBox ul li:hover span{
    color:#fff;
}