@import "jquery.fullpage.css";

body {
    background: #1D1D1D;
    overflow: hidden;
    user-select: none;
}
video {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg {
    width: 100%;
    height: 100%;
    background: no-repeat center/100%;
}

.bg1 {
    background-image: url(../img/2.jpg);
}

.bg2 {
    background-image: url(../img/4.jpg);
}

.bg3 {
    background-image: url(../img/6.jpg);
}

.bg4 {
    background-image: url(../img/8.jpg);
}

.bg5 {
    background-image: url(../img/10.jpg);
}

.bg6 {
    background-image: url(../img/12.jpg);
}

.bg7 {
    background-image: url(../img/14.jpg);
}

.section {
    position: relative;
}

.cont {
    position: absolute;
    color: #fff;
    line-height: 2;
    margin-left: 100px;
    bottom: 200px;
    left: 0;
}

.cont .top {
    overflow: hidden;
}

.cont .top .main {
    font-size: 80px;
    color: #fff;
    display: block;
    float: left;
    font-weight: 700;
}

.cont .top .vlog {
    display: block;
    float: left;
    font-size: 20px;
    color: #fff;
    padding: 32px 0 0 20px;
}

.cont .bot {
    font-size: 16px;
    color: #fff;
}

#footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer-wrap {
    width: 94%;
    padding: 20px 40px 12px 40px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.back-top {
    height: 100%;
    font-size: 14px;
    line-height: 50px;
    float: left;
}

.back-top a {
    display: block;
    color: #fff;
}

.icon {
    margin-right: 16px;
}

.column {
    margin-left: 154px;
}

.right-card {
    float: right;
    height: 100%;
    line-height: 50px;
}

.right-card .img-icon {
    margin-left: 18px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.right-card .img-icon1 {
    background: url(../img/16.png) no-repeat;
    background-position: -80px -96px;
}

.right-card .img-icon2 {
    background: url(../img/16.png) no-repeat;
    background-position: -176px -96px;
}

.right-card .img-icon3 {
    background: url(../img/16.png) no-repeat;
    background-position: -144px -96px;
}

.right-card .img-icon4 {
    background: url(../img/16.png) no-repeat;
    background-position: -16px -96px;
}
