<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[title]</title>
    <link rel="shortcut icon" href="__HOME_IMG__/logo-title.ico">
    <script src="__HOME_JS__/animate.js"></script>
</head>
<body>
<header>
    <div class="headBox">
        <div class="headLeft">
            <a href="index.html">
                <img src="__HOME_IMG__/logo.png" alt="">
            </a>
        </div>
        <div class="headRight">
            <a href="/home/index/index" {$nid ? '' : 'class="col"'}>首页</a>
            {volist name='nav' id='vo'}
                <a href="/home/index?id={$vo['id']}" {$vo['id']==$nid ? 'class="col"' : ''}>{$vo['name']}</a>
            {/volist}
        </div>
    </div>
</header>
